<%= simple_form_for @pic do |f| %>
  <% if @pic.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@pic.errors.count, 'error') %> prevented this Pic from saving </h2>
      <ul>
        <% @pic.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    <div>
  <% end %>


  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form_control' } %>
  </div>

  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form_control' } %>
  </div>

  <%= f.button :submit, class:'btn btn-info' %>
<% end %>
