<%= image_tag @pic.image.url %>
<h1><%= @pic.title %><h1>
<p><%= @pic.description %></p>
<p><%= @pic.user.email %></p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_pic_path %>
<%= link_to 'Delete', pic_path, method: :delete, data: { confirm: 'Are you sure' } %>
