<!DOCTYPE html>
<html>
  <head>
    <title>Instagramm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div clas="container">
        <div class="navbar-brand">
          <%= link_to 'Instagramm', root_path  %>
        </div>
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to 'Gram It', new_pic_path %></li>
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
              <li><%= link_to 'Sign Out',  destroy_user_session_path, method: :delete %></li>
            </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to 'Join', new_user_registration_path %></li>
                <li><%= link_to 'Sign In', new_user_session_path %></li>
              </ul>
          <% end %>
      </div>
    </nav>

  <div class="container">
    <% flash.each do |name, msg| %>
        <% content_tag(:div, msg, class: 'alert alert-info') %>
      <% end %>

    <%= yield %>

  </div>
  </body>
</html>
